#influxdb host - docker conatiner name
INFLUXDB_HOST=influxdb

#standart port for influxdb
INFLUXDB_PORT=8086

#database name to be created 
INFLUXDB_DB=net_speed_md

#to enable authentication
INFLUXDB_HTTP_AUTH_ENABLED=true

#admin user - used to write to the database
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminpassword

#read user - used for the dashboard and notebooks to read from the database
INFLUXDB_READ_USER=net_speed_user
INFLUXDB_READ_USER_PASSWORD=userpassword

DASH_USER=dash
DASH_PASSWORD=password

#add your MS SQL host, database and user information here
MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_DATABASE=

MSSQL_USER=
MSSQL_PASSWORD=
